/* Asterisk wildcard selector to override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Header */
header {
    background-color: red;
}
/* Main content area */
main {
    background-color: blue;
}
/* Footer */
footer {
    background-color: yellow;
}